/*  your css code here. If applicable */
.container{
	background-color: #f5f5f5;
	
}
.test{
	margin: 0px 10px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 10px;
}
p{
	text-align:right;
}
.side{
	display:flex;
	text-align: end;
	align-items: flex-end;
	font-style: italic;
}
